html {
  height: 100vh;
}

body {
  height: 100vh;
}

#root {
  height: 100vh;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1140px;
  color: #000000;
  text-align: center
}

.menu {
  display: flex;
  justify-content: center;
  outline: none;
  margin-top: 20px;
  margin-bottom: 30px;
}

.menuLink {
  text-decoration: none;
  font-size: 20px;
  color: #4682B4;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: solid #4682B4;
}

.head-text {
  font-size: 30px;
}

.secondary-text {
  font-size: 20px;
  line-height: 40px;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 150px;
}

.chats-main{
  display: flex;
  justify-content: space-between;
}

.main-container-chats{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 75vh;
}

.chatPage-container {
  position: relative;
  height: 75vh;
}

.chats-container {

}

.messages-block {
  position: absolute;
  top: 0;
  overflow: auto;
  height: 67vh;
  width: 65%;
}

.form-container {
  position: absolute;
  bottom: 0;
  width: 65%;
}

.chat-item {
  text-decoration: none;
  font-size: 20px;
  color: #7b7b7b;
  font-weight: 400;
  font-weight: 700;
  padding-right: 60px;
  overflow-wrap: break-word;
  width: 26vh;
}

/*.textToRightSide {*/
/*  text-align: right;*/
/*  margin-bottom: 50px;*/

/*@media (max-width: 600px) {*/
/*//font-size: 22px;*/
/*  margin-bottom: 30px;*/
/*}*/
/*}*/


/*.avatar-logo {*/
/*  width: 98px;*/
/*  height: 98px;*/
/*  text-align: center;*/
/*  background: #FFFFFF;*/
/*  border-radius: 50%;*/
/*  text-transform: uppercase;*/
/*  margin: 10px auto 40px;*/
/*  display: block;*/
